---
- name: Install Java 17 (Amazon Corretto)
  package:
    name: java-17-amazon-corretto
    state: present

- name: Verify Java installation
  command: java -version
  register: java_version
  ignore_errors: yes

- name: Show Java version
  debug:
    var: java_version.stdout_lines
