apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: ivolve
  labels:
    app: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: omarghalyy/cloud-devops-app:4
        ports:
        - containerPort: 5000
